<div class="well sidebar-nav" id="nav">	
	<ul class = "nav nav-list">
		<li class ="nav-header">User Management</li>
		<li><a href="#" class="active"> Request Registration</a></li>
		<li><a href="#"> Approve Request</a></li>
		
		<li class ="nav-header">Utilization</li>
		<li><a href="/erp/util/user/" onclick="content_ajax(this.href); return false;">User Utilization</a></li>
		<li><a href="#">Program Utilization</a></li>
		
		<li class ="nav-header">Notice Management</li>
		<li><a href="#">Registe Notice</a></li>
		<li><a href="#">Notice Management</a></li>	
	
		<li class ="nav-header">Source Finder</li>
		<li><a href="#">Form</a></li>
		<li><a href="#">PL/SQL</a></li>	
	</ul>	
</div>