<!DOCTYPE html>
<html>	
	<head>
		<Title>
			ERP Portal
		</Title>
		{% include 'common/media.html' %}
		
	</head>
<body>	

<div class="vNav" style="float:left">
	<ul>
	<li><a href="#"><span> User Management</span></a>
		<ul>
		<li><span>Request Registration</span></li>
		<li><span>Approve Request</span></li>
		</ul>
	</li>
	
	<li><a href="#"><span>Utilization</span></a>
		<ul>
		
		<li class="active"><a href="/erp/util/user/" target="content"><span>User Utilization</span></a></li>
		
		<!-- <li class="active"><a href="/ERP_Portal/user_list/" target="content"> <span>User Utilization</span></a></li> -->
		<li><span>Program Utilization</span></li>
		</ul>
	</li>
	
	<li><a href="#"><span>Notice Management</span></a>
		<ul>
		<li><span>Registe Notice</span></li>
		<li><span>Notice Management</span></li>
		</ul>
	</li>
	<li><a href="#">Source Finder</a>
		<ul>
			<li><span>Form</span></li>
			<li><span>PL/SQL</span></li>
		</ul>
	</li>
	</ul>
</div>
</body>
</html>