.wrapper {
	width : 1000px;
	margin : auto;
}

.header {
	height: 50px;
	width : 1000px;				
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 99%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	font: "Arial Black";	
}

.nav {
	width : 250px;
	height : 650px;	
	float : left;
	background-color : yellow;
	
}

.content {
	width : 750px;
	height : 650px;
	margin-left : 250px;
	background-color: red	
}

.footer {
	width : 1000px;
	height : 30px;
 	background-color: blue;
 	clear : left;
}

.search {
	width : 1000px;
	height : 50px;
}
.result {
	width : 800px;
		
}

.result_table {	
	border : 1;
	backgroud-color : blue;
}

.line {
	background-color : black;
	height : 2px;
	width : 580px;
}


