.wrapper {
	width : 800px;
	margin : 0px 100px 0px 50px;
}

.header {
	height: 100px;				
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 99%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	font: "Arial Black";	
}

.nav {
	width : 200px;	
	float : left;
	background-color : yellow;
	
}

.content {
	width : 600px;
	float : left;	
}

.result {
	width : 600px;
	height :500px;	
}

.result_table {	
	border : 1;
	backgroud-color : blue;
}

.line {
	background-color : black;
	height : 2px;
	width : 580px;
}


