.vNav li{ position:relative; margin:0 0 -1px 0; vertical-align:top; *zoom:2;}
.vNav li a{ display:block; position:relative; padding:8px 10px; text-decoration:none; color:#666; font-weight:bold; background:#fafafa; border:1px solid #eee; *zoom:1;}
.vNav li a .i{ position:absolute; top:50%; left:100%; margin:-4px 0 0 -16px; width:8px; height:8px; color:#ccc; background:url(iconSub.gif) no-repeat left top;}
.vNav li ul{ padding:5px 0; background:#fff;}
.vNav li li{ margin:0;}
.vNav li li a{ font-weight:normal; background:#fff; padding:5px 10px; border:0;}
.vNav li li a span{ color:#666;}
.vNav li.active{ border:1px solid #ccc; z-index:2;}
.vNav li li.active{ border:0;}
.vNav li.active a{ color:#000; border:0;}
.vNav li.active .i{ background-position:0 -44px;}
.vNav li.active li a{ border:0;}
.vNav li.active ul{ display:block; border-top:1px solid #eee;}
.vNav li.active li.active a span{ color:#13b200; font-weight:bold; letter-spacing:-1px;}
.active { color : red;}