<!DOCTYPE html>
<html>
	<head>
		<Title>
			ERP Portal
		</Title>
		{% include 'common/media.html' %}
		
	</head>
	<body>
		
		
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
			
		<div class ="container-fluid">	
			<div class="row-fluid">
				<div class="span2">
					<!-- <iframe src = "/erp/nav/"  frameborder="0" height="650" scrolling="no"></iframe> -->
					<!-- {% include 'common/nav.html' %} -->
					test
				</div>
			</div>

			<div class="span10">				
				<!-- <iframe name="content" src = "/erp/util/user/" width="500" height ="650" frameborder="0"></iframe> -->
				{% include 'userCount/user_content.html' %}
			</div>
			
			<div class ="row">
				<div class="span12">
					Footer
				</div>
			</div>
		</div>
	</body>
</html>