<!DOCTYPE html>
<html>
	<head>
		<Title>
			ERP Portal
		</Title>
		{% include 'common/media.html' %}
		
	</head>
	<body>
		<div class ="wrapper">
			<div class="header">
				<iframe src ="/erp/header/"  frameborder="0" scrolling="no"></iframe>
			</div>
			<div class="nav">
				<iframe src = "/erp/nav/"  frameborder="0" height="650" scrolling="no"></iframe>
				
			</div>
			<div class="content">				
				<iframe name="content" src = "/erp/util/user/" width="750" height ="650" frameborder="0"></iframe>
				
			</div>
			<div class="footer">
				Footer
			</div>
		</div>
	</body>
</html>