<div class="row">
	<div class="span6 offset3">
<form class="form-horizontal" method ="get" id="form">
  <h2 class="form-signin-heading offset3" >Please sign in</h2>
  
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">User Name</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="Employee Number" name="userName">
	          {% if form.userName.errors %}
	  	<div>
	     	{{ form.userName.errors }}
	 	</div>
	{% endif %}
	    
	    </div>
	  </div>
	  
	
  

  
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="password">
    
    {% if form.password.errors %}
    	<div>
	      	{{ form.password.errors }}
   	 	</div>
   	 {% endif %}
      
    </div>
    
    
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" name="rememberMe"> Remember me
      </label>
      <button type="submit" class="btn" onclick="content_ajax('/erp/loginProcess/',getform('input','#form')); return false;" >Sign in</button>
    </div>
  </div>
</form>
</div>
</div>