<!DOCTYPE html>
<html>
	<head>
		<Title> User List</Title>
		{% include 'common/media.html' %}
	</head>

	<body>
	
		<div class="search">
			<form method = "get" action="/erp/util/user/" target="_self">
				Year <input type = "text" name="year" value="{{ year }}" />
				Name <input type = "text" name="userName" value="{{ userName }}" />
				<input type = "hidden" name="page" value ="1" />	
				<button type="submit" class="btn">Submit</button>
				<i class="icon-search"></i>
			</form>
		</div>
		<div class="line" style = "background-color: black ; width :750px; height :2px" frameborder="0"></div>
		<div class="result">
				<table id="result_table" border ="1" background="9ef7e9" class="table table-striped">
			<tr>
				<th>User Name</th>
				{% for i in month %}
				<th>{{i}}월</th>			
				{% endfor %}			
			</tr>
			{% for row in result %}
			<tr>
				
				{% for column in row %}
					{% if forloop.counter == 1 %}
						<td>{{ column }}</td>
					{% else %}
						<td><a href="#">{{ column }}</a></td>
					{% endif %}			
				{% endfor %}
			</tr>
			{% endfor %}
			
	</table>	
	<!--
	{% for p in  result.paginator.page_range %}
		{% if result.number == p %}
			<B>{{ p }}</B>
		{% else %}	
			<a href="/erp/util/user/?year={{ year }}&page={{ p }}&userName={{ userName }}">{{ p }}</a>
		{% endif %} 
		{% if p != result.paginator.num_pages %}
			|
		{% endif %}
	{% endfor %}	
	-->
	
	{% if hasPrevGroup %}
		 <a href="/erp/util/user/?year={{ year }}&page={{ prevStartNum }}&userName={{ userName }}"> before </a>
 	{% endif %}
 	{% for p in pageRange %}
 		{% if result.number == p %}
 			<b> {{ p }}</b>
 		{% else %}
 			<a href="/erp/util/user/?year={{ year }}&page={{ p }}&userName={{ userName }}">{{ p }}</a>
 		{% endif %}
 	{% endfor %}
 	{% if hasNextGroup %}
 		<a href="/erp/util/user/?year={{ year }}&page={{ nextStartNum }}&userName={{ userName }}"> next </a>
 	{% endif %}
		</div>
		
	</body>
</html>
