

		<div class="search">
			<form class = "form-search" method = "get" id="form">
				Year <input type = "text" name="year" class = "input-small search-query" value="{{ year }}" />
				Name <input type = "text" name="userName" class = "input-small search-query" value="{{ userName }}" />
				Department <input type = "text" name="dept" class = "input-small search-query" value="{{ dept }}" />
				Location <input type = "text" name="loc" class = "input-small search-query" value="{{ loc }}" />
				<input type = "hidden" name="page" value ="1" />	
				<button class="btn" onclick="content_ajax('/erp/util/user/',getform('input','#form')); return false;">Submit</button>
				<i class="icon-search"></i>
			</form>
			
		</div>
		<div class="result">
				<table id="result_table" border ="1" background="9ef7e9" class="table table-striped">
			<tr>
				<th>User Name</th>
				{% for i in month %}
				<th>{{i}}월</th>			
				{% endfor %}			
			</tr>
			{% for row in result %}
			<tr>
				
				{% for column in row %}
					{% if forloop.counter == 1 %}
						<td><a href="#" rel="tooltip" data-placement="right" data-title ="{{ column.location_code }} /  {{ column.department.department }}"> {{ column.description }}</a></td>
					{% else %}
						<td><a href="#" rel="popover" data-placement="bottom" data-content=" " data-original-title="Default tooltip">{{ column }}</a></td>
					{% endif %}			
				{% endfor %}
			</tr>
			{% endfor %}
			
	</table>	
	<!--
	{% for p in  result.paginator.page_range %}
		{% if result.number == p %}
			<B>{{ p }}</B>
		{% else %}	
			<a href="/erp/util/user/?year={{ year }}&page={{ p }}&userName={{ userName }}">{{ p }}</a>
		{% endif %} 
		{% if p != result.paginator.num_pages %}
			|
		{% endif %}
	{% endfor %}	
	-->
	<div class="pagination pagination-centered">
		<ul>
	{% if hasPrevGroup %}
		 <li class="active"><span><a href="/erp/util/user/?year={{ year }}&page={{ prevStartNum }}&userName={{ userName }}&dept= {{ dept }}&loc={{ loc }}" onclick="content_ajax(this.href); return false;">Prev </a></span></li>
 	{% endif %}
 	{% for p in pageRange %}
 		{% if result.number == p %}
 			<li class="disabled"><span><b>{{ p }}</b></span></li>
 		{% else %}
 			<li class="active"><span><a class="page" href="/erp/util/user/?year={{ year }}&page={{ p }}&userName={{ userName }}&dept= {{ dept }}&loc={{ loc }}" onclick="content_ajax(this.href); return false;">{{ p }}</a></span></li>
 		{% endif %}
 	{% endfor %}
 	{% if hasNextGroup %}
 		<li class="active"><span><a href="/erp/util/user/?year={{ year }}&page={{ nextStartNum }}&userName={{ userName }}&dept= {{ dept }}&loc={{ loc }}" onclick="content_ajax(this.href); return false;">Next</a></span></li>
 	{% endif %}
 	</ul>
 	</div>
 	
 	<!-- onload -->
 	<script type="text/javascript">
    	$("[rel=tooltip]").tooltip();
    	$("[rel=popover]").popover();
	</script>
