<script type="text/javascript">
	CKEDITOR.replace("id_body", {"filebrowserWindowWidth": 940, "width": 835, "skin": "django", "filebrowserWindowHeight": 725, "filebrowserBrowseUrl": "/ckeditor/browse/", "filebrowserUploadUrl": "/ckeditor/upload/", "toolbar": "Full", "height": 291});
</script>

<div class="container-fluid">
	<div class="row-fluid">
		<div>
			<ul class="breadcrumb">
				<li> <h4>Register Notice</h4></li>
			</ul>
		</div>
		<div class="row-fluid">
			<form class="form-horizontal">
	
				
				<div class="control-group">
					<label class="control-label" for="selectApplication">Application</label>
					<div class="controls">
						<select id="selecctApplication" class="span2" name="application">
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
						</select>
					</div>
				</div> <!-- control-group application-->
				
				<div class="control-group">
					<label class="control-label" for="selectProgram">Program</label>
					<div class="controls">
						<select id="sselectProgram" class="span2" name="program">
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
						</select>
					</div>
				</div> <!-- contro-group program-->
				
				<div class="control-group inline">
					<label class="control-label inline" for="listTarget">Target</label>
					<div class="controls">							
						<select multiple="mulltiple" id="listTarget" class="span2" name="loc">
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
						</select>						
						<select multiple="mulltiple" id="listTarget" class="span2" name="dept">
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
						</select>		
						<select multiple="mulltiple" id="listTarget" class="span2" name="employee">
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
							<option>1</option>
						</select>									
					</div>
				</div> <!-- contro-group -->
					
				<div class="control-group">
					<label = class="control-label">Body</label>
					<div class="controls">
						<textarea id="id_body" rows="10" cols="40" name="body"> </textarea>
					</div>
				</div>
				

			</form>
		</div>
	</div>
</div>

    

