<script type="text/javascript">
	CKEDITOR.replace("id_body", {"filebrowserWindowWidth": 940, "width": 835, "skin": "django", "filebrowserWindowHeight": 725, "filebrowserBrowseUrl": "/ckeditor/browse/", "filebrowserUploadUrl": "/ckeditor/upload/" , "toolbar": "Full", "height": 291, "enterMode": "CKEDITOR.ENTER_BR"});	
</script>

<script src="/static/js/main.js"></script>

<div class="container-fluid">
	<div class="row-fluid">
		<div>
			<ul class="breadcrumb">
				<li> <h4>Register Notice</h4></li>
			</ul>
		</div>
		<div class="row-fluid">
			<form class="form-horizontal" action="/erp/notice/register/save/" method="POST">
	
				
				<div class="control-group">
					<label class="control-label" for="selectApplication">Application</label>
					<div class="controls">
						<select id="selecctApplication" class="span3" name="application" onchange="get_programs(this);">
							<option value="0">-- Choose Application --</option>
							{% for app in apps %}
								<option value="{{ app.application_id }}">{{ app.application_name }}</option>
							{% endfor %}
						</select>
					</div>
				</div> <!-- control-group application-->
				
				<div class="control-group">
					<label class="control-label" for="selectProgram">Program</label>
					<div class="controls">
						<select id="selectProgram" class="span3" name="program">
							<option value="0">-- Choose a Application first --</option>
						</select>
					</div>
				</div> <!-- contro-group program-->
				
				<div class="control-group inline">
					<label class="control-label inline" for="listTarget">Target</label>
					<div class="controls">							
						<select multiple="mulltiple" id="listTarget" class="span2" name="unit">
							{% for unit in units %}
								<option value="{{ unit.operation_unit_id }}">{{ unit.name }}</option>
							{% endfor %}
						</select>						
						
						<select multiple="mulltiple" id="listTarget" class="span2" name="division">
							{% for division in divisions %}
								<option value="{{division.division_code}}">{{division.name}}</option>
							{% endfor %}
						</select>
								
						<select multiple="mulltiple" id="listTarget" class="span2" name="location">
							{% for location in locations %}
								<option value="{{location.location_code|cut:' '}}">{{location.location}}</option>
							{% endfor %}
						</select>									
						
						<select multiple="mulltiple" id="listTarget" class="span2" name="department">
							{% for department in departments %}
								<option value="{{department.department_code}}">{{department.department}}</option>
							{% endfor %}							
						</select>
					</div>
				</div> <!-- contro-group -->
				
				<div class="control-group">
					<label = class="control-label">Title</label>
					<div class="controls">
						<input type = "text" name="title" class="input-xxlarge" /> 
					</div>
				</div>
					
				<div class="control-group">
					<label = class="control-label">Body</label>
					<div class="controls">
						<textarea id="id_body" rows="10" cols="40" name="body"> </textarea>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="effectiveDate">Effective Date</label>
					<div class="controls">
						<input type ="text" id="effectiveDate" class="span3" name="fromDate" />							
						~
						<input type ="text" id="effectiveDate" class="span3" name="toDate" />
					</div>
				</div> <!-- contro-group program-->
				
			</form>
		</div>
	</div>
</div>


